
html, body {
	height: 100%;
	margin: 5;
}

.theTop {
	height: 20%;
	padding: 10px;
	background-color: white;
}

.col3 {
	height: 100%;
	width: 33%;
	float: left;
	padding-top: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	
}
.box{
	height: 100%;
	width: 100%;
}
.red {
	background: red;

}

.blue{
	background: blue;

}

.gray {
	background: gray;
}

.para{
	height: 30%;
	font-size: 20px;
	padding: 20px;
}

.twoTone {
	height: 20%;

}
.makeRed {
	height: 100%;
	width: 40%;
	background: red;
	float: left;
}

.makeBlue {
	height: 100%;
	width: 60%;
	float: left;
	background: blue;
}
.part3 {
	height: 20%;
	margin-top: 40px;

}
.bigBlue{
	height: 100%;
	width: 75%;
	background: blue;
	float: left;
}

.bigRed {
	height: 100%;
	width: 25%;
	background: red;
	float: left;
	position: relative;
	z-index: -1;
}
.inGray{
	height: 100%;
	width: 80%;
	background: gray;
	position: relative;
	z-index: 100;
	margin-left: 12%;

}